/* General styles */
/* Reseter */
* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif, Arial, Helvetica;
  text-decoration: none;
}

body {
  background-color: #181818;
  color: aliceblue;
}
