{% extends 'layout.html' %}
{%block title %} Home {% endblock %}
{% block content %}
<h2>Home</h2>
<h3>List of the latest articles and Authors creation</h3>

<p>{{article.title}}</p>
<h5>Authors: </h5>
{% for author in authors %}

<p>{{author.nombre}}</p>
<p><strong>{{author.created_at}}</strong></p>
<a href="{% url 'author_delete' author.id %}" class="btn btn-danger mx-2" href="#">X</a>
<a href="{% url 'author_form_update' author.id %}" class="btn btn-info">Update</a>
{% empty %}
<h5>There is no authors created yet!</h5>
{% endfor %}
<hr />
<h5>Articles: </h5>
{% for article in articles %}

<p>{{article.title}}</p>
<p><strong>{{article.created_at}}</strong></p>
<a href="{% url 'article_delete' article.id %}" class="btn btn-danger mx-2" href="#">X</a>
<a href="{% url 'article_form_update' article.id %}" class="btn btn-info">Update</a>
{% empty %}
<h5>There is no article created yet!</h5>
{% endfor %}
<div class="mt-5"/>
{% endblock %}